body{
    background-color: #fafafc;
    margin: 0;
}
hr{
    border: none;
    height: 1px;
    background-color: black;
    margin: 10px 0;
}
ul{
    list-style: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

/* ------------------------leftVar----------------------------- */

.leftVar{
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y:auto;
    top: 0;
    flex: 1;
    height: 100%;
    padding: 0 1em;
    background-color: white;
    box-shadow: 15px 0px 5px -13px gray;
}
.leftVar::-webkit-scrollbar{
    /* 스크롤바 없애기 */
    display: none;
}
.leftVar a{
    text-decoration: none;
    /* color 안주면 보라색으로 바뀜 */
    color: rgba(0, 0, 0, 0.5);
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.profile img{
    border-radius: 50px;
}
.myname{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.bname{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.name{
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    margin-bottom: 15px;
}
.sidebar_menu{
    border-radius: 2em;
    box-shadow: 0px 0px 6px 0px gray;
    width: 17em;
    height: 4em;
    
}
.sidebar_ul{
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: space-evenly;
    margin-left: -40px;
    
}
.sidebar_li{
    font-size: 10px;
}
.icon{
    width: 3.2em;
}
.root{
    font-size: 20px;
    margin-bottom: 25px;
}
.category{
    display: flex;
    margin: 10px 15px 0px 5px;
    opacity: 0.5;
}
.category img{
    opacity: 0.4;
}
.hori{ 
    display: flex;
    margin-bottom: 5px;
}
.container{
    margin-bottom: 7px;
}
.container_text{
    font-size: 20px;
    font-weight: bold;
}
.text{
    display: flex;
    font-size: 16px;
    align-items: center;
    margin: 5px 0px 5px 0px;
}
.text img{
    width: 2em;
    height: 2em;
    box-shadow: 0px 0px 6px 0px gray;
}

/* ------------------------MAIN----------------------------- */

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* leftvar postion:fixed 속성때문에 margin-left값을 줌
    이 값이 없으면 leftvar 밑에 겹쳐서 보임 */
    margin-left: 19em; 
}

/* ------------------------MAIN_Header----------------------------- */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1em 6em
}
.main_menu{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    font-size: 17px;
}
.mh_bname{
    font-size: 25px;
    font-weight: bold;
    margin-left: -7em;
}
.mh_bname img{
    margin-left: 0.5em;
}
.mh_icon{
    width: 2em;
}

/* ------------------------MAIN_Who am I?----------------------------- */
.introduce_M{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}
.intr_picture{
    
}
.intr_picture img{
    width: 13em;
    height: 15em;
    border-radius: 50px;
}
.intr_information{
    width: 60%;
    height: auto;
}

/* ------------------------MAIN_What I use----------------------------- */
.uselanguage{
    padding: 3em;
}
.introduce_L{
    padding: 1em;
    font-size: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.use{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3em 0em;
    justify-items: center;
    align-content: center;
    height: auto;
}
.use .item{
    border-radius: 2em;
    height: 13em;
    width: 13em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px 0px gray;
}
.item img{
    width: 7em;
    height: 7em;
}
.item span{
    margin: 10px;
    font-size: 1.5em;
}